source ${HOME}/.screenrc

chdir ${HOME}/mygit/lua-build
screen -t build
stuff "make clean "
stuff "make costum && out/bin/lua -i ../lua-t/research/http/s_t.lua "

# lua-t
chdir ${HOME}/mygit/lua-t
screen -t lua-t
#stuff "gvim -p  src/t_htp_req.c lua/Http/{Server,Stream,Request,Response}.* "

# lua-t source
chdir ${HOME}/mygit/lua-t/src
screen -t t-src

# lua-t example
chdir ${HOME}/mygit/lua-t/example
screen -t example

# lua-t http
chdir ${HOME}/mygit/lua-t/research/http
screen -t http

chdir ${HOME}/mygit/lua-t
